{%load static%}
<head>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="mx-auto" style="width:700px;">
    {% if request.session.logged_user %}
    <h1> Hola {{request.session.logged_user}} !</h1>
    {% endif%}


<h3>Escribe tu deseo</h3>

<form action="wish" id = "formWish" method="post">
    {%csrf_token%}
    <p>Deseo: <input type='text' name='name'></p>
    <p>Fecha Límite: <input type = 'text' name="due_date" placeholder="AAAA-mm-dd" id='datepicker'></p>
    <button  class= "btn btn-outline-secondary" type="submit">Guardar deseo</button>

</form>


<h4>Deseos Pendientes</h4>

<table class="table table-striped">

<th>Deseo</th>
<th>Fecha Limite</th>
<th>Completada</th>
<th>Acciones</th>

{% if user.wishes.all %}

{% for wish in wishes_pending %}
<tr>
<td>{{wish.name}}</td>
<td>{{wish.due_date}}</td>
<td>{{wish.completed}}</td>
<td> <a href ="/wish_detail/{{ wish.id }}">  Editar | Realizado!</a> </td>
</tr>
{%endfor%}
</table>
{%endif%}

{% if request.session.logged_user %}
<h4> {{request.session.logged_user}} esta es la lista de tus deseos realizados !</h4>
{% endif%}

<table class="table table-striped">
    <th>Deseo</th>
    <th>Fecha Limite</th>
    <th>Deseo realizado en:</th>
    {% for wish in wishes_completed %}
    <tr>
        <td>{{wish.name}}</td>
        <td>{{wish.due_date}}</td>
        <td>{{wish.updated_at}}</td>
    </tr>
    {%endfor%}


</table>

<div class= "col" >
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <a href="/logout">Log Out</a>
      </button>
    
    </div>
    
</body>
</div>
